<p>[D-pass]梦行者通道-验证码</p>
<p>尊敬的测梦师同学，您好！</p>
<p>经过梦神的解密，您本次将要对接的梦境，其梦行者通道的通行码为：</p>
<h2>{{code}}</h2>
<p>该通道将在10分钟的窗口期后关闭，请尽快通过，切记不可将通行码泄露与外人，以免梦境遭受难以预测的攻击。</p>
<font color='grey'>本邮件由系统自动发出，请勿回复，感谢您的配合。</font>